In [13]:
import sqlite3
import pandas as pd
import requests
import json

In [34]:
conn = sqlite3.connect('Buchhandlung.db')
cursor = conn.cursor()

In [52]:
conn.close()

In [51]:
pd.read_sql("Select * from films", conn)

   film_id   Titel Produzent  Erscheinungsjahr  Preis  AufLager
0        2  string    string                 0      0         0
1        3  string    string                 0      0         0
2        4  string    string                 0      0         0

In [15]:

cursor.execute("""
    CREATE TABLE IF NOT EXISTS books(
    book_id integer primary key autoincrement,
    Titel VARCHAR(250),
    Autor VARCHAR(250),
    Erscheinungsjahr INTEGER,
    Herausgeber VARCHAR(250),
    Seitenanzahl INTEGER,
    Preis DECIMAL,
    AufLager INTEGER)
    """)

conn.commit()


cursor.execute("""
    CREATE TABLE IF NOT EXISTS e_books(
    e_book_id integer primary key autoincrement,
    Titel VARCHAR(250),
    Autor VARCHAR(250),
    Erscheinungsjahr INTEGER,
    Herausgeber VARCHAR(250),
    Seitenanzahl INTEGER,
    Preis DECIMAL)
    """)

conn.commit()


cursor.execute("""
    CREATE TABLE IF NOT EXISTS films(
    film_id integer primary key autoincrement,
    Titel VARCHAR(250),
    Produzent VARCHAR(250),
    Erscheinungsjahr INTEGER,
    Preis DECIMAL,
    AufLager INTEGER)
    """)

conn.commit()

conn.close()

In [53]:
conn = sqlite3.connect('Cafe.db')
cursor = conn.cursor()

In [57]:
pd.read_sql("Select * from Drinks", conn)

   bestellung_id  kategorie  Preis  Anzahl          Besteldatum
0              1      Latte      9       3  2023-03-22 16:06:45
1              2  Americano     15       5  2023-03-22 21:24:54

In [26]:
conn.close()

In [21]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS backstock(
    Produkt VARCHAR(20),
    Bestand INT)
    """)

conn.commit()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS drinks(
    bestellung_id integer primary key autoincrement,
    kategorie VARCHAR(20),
    Preis INTEGER DEFAULT 3,
    Anzahl INTEGER,
    Besteldatum TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP)
    """)

conn.commit()

In [18]:
conn.close()

In [58]:
book_liste = [
('Der kleine Prinz', 'Antoine de Saint-Exupéry', 1943, 'Karl Rauch Verlag', 96, 10.99, 20),
('Das Parfum', 'Patrick Süskind', 1985, 'Diogenes Verlag', 278, 12.99, 15),
('Faust', 'Johann Wolfgang von Goethe', 1808, 'Cotta Verlag', 400, 16.99, 10),
('Die unendliche Geschichte', 'Michael Ende', 1979, 'Thienemann Verlag', 432, 13.99, 25),
('Der Steppenwolf', 'Hermann Hesse', 1927, 'Suhrkamp Verlag', 256, 11.99, 8),
('Im Westen nichts Neues', 'Erich Maria Remarque', 1929, 'Ullstein Verlag', 240, 9.99, 12),
('Die Verwandlung', 'Franz Kafka', 1915, 'Kurt Wolff Verlag', 64, 7.99, 5),
('Der Zauberberg', 'Thomas Mann', 1924, 'S. Fischer Verlag', 976, 24.99, 3),
('Der Prozess', 'Franz Kafka', 1925, 'Kurt Wolff Verlag', 256, 11.99, 7),
('Der Vorleser', 'Bernhard Schlink', 1995, 'Diogenes Verlag', 224, 14.99, 18)
]

e_book_liste = [
('Der Prozess', 'Franz Kafka', 1925, 'Fischer Verlag', 240, 7.99),
('Faust', 'Johann Wolfgang von Goethe', 1808, 'Reclam Verlag', 422, 4.99),
('Der Steppenwolf', 'Hermann Hesse', 1927, 'Suhrkamp Verlag', 325, 5.99),
('Nathan der Weise', 'Gotthold Ephraim Lessing', 1779, 'Reclam Verlag', 120, 3.99),
('Die Verwandlung', 'Franz Kafka', 1915, 'Fischer Verlag', 60, 2.99),
('Homo Faber', 'Max Frisch', 1957, 'Suhrkamp Verlag', 320, 6.99),
('Der Untertan', 'Heinrich Mann', 1918, 'Reclam Verlag', 220, 4.99),
('Siddhartha', 'Hermann Hesse', 1922, 'Fischer Verlag', 150, 3.99),
('Das Parfum', 'Patrick Süskind', 1985, 'Diogenes Verlag', 312, 8.99),
('Der Zauberberg', 'Thomas Mann', 1924, 'Fischer Verlag', 900, 12.99)
]

film_liste = [
('Die Blechtrommel', 'Volker Schlöndorff', 1979, 9.99, 23),
('Das Leben der Anderen', 'Florian Henckel von Donnersmarck', 2006, 12.99, 18),
('Good Bye, Lenin!', 'Wolfgang Becker', 2003, 8.99, 34),
('M Eine Stadt sucht einen Mörder', 'Fritz Lang', 1931, 6.99, 11),
('Der Himmel über Berlin', 'Wim Wenders', 1987, 10.99, 27),
('Metropolis', 'Fritz Lang', 1927, 5.99, 7),
('Toni Erdmann', 'Maren Ade', 2016, 14.99, 16),
('Nosferatu Eine Symphonie des Grauens', 'F. W. Murnau', 1922, 7.99, 9),
('Der Tiger von Eschnapur', 'Fritz Lang', 1959, 11.99, 12),
('Der Baader Meinhof Komplex', 'Uli Edel', 2008, 13.99, 22)
]

In [62]:
books_dict_list = []
for book in book_liste:
    books_dict = {}
    books_dict['Titel'] = book[0]
    books_dict['Autor'] = book[1]
    books_dict['Erscheinungsjahr'] = book[2]
    books_dict['Herausgeber'] = book[3]
    books_dict['Seitenanzahl'] = book[4]
    books_dict['Preis'] = book[5]
    books_dict['AufLager'] = book[6]
    books_dict_list.append(books_dict)

books_json = json.dumps(books_dict_list)
print(books_json)

[{"Titel": "Der kleine Prinz", "Autor": "Antoine de Saint-Exup\u00e9ry", "Erscheinungsjahr": 1943, "Herausgeber": "Karl Rauch Verlag", "Seitenanzahl": 96, "Preis": 10.99, "AufLager": 20}, {"Titel": "Das Parfum", "Autor": "Patrick S\u00fcskind", "Erscheinungsjahr": 1985, "Herausgeber": "Diogenes Verlag", "Seitenanzahl": 278, "Preis": 12.99, "AufLager": 15}, {"Titel": "Faust", "Autor": "Johann Wolfgang von Goethe", "Erscheinungsjahr": 1808, "Herausgeber": "Cotta Verlag", "Seitenanzahl": 400, "Preis": 16.99, "AufLager": 10}, {"Titel": "Die unendliche Geschichte", "Autor": "Michael Ende", "Erscheinungsjahr": 1979, "Herausgeber": "Thienemann Verlag", "Seitenanzahl": 432, "Preis": 13.99, "AufLager": 25}, {"Titel": "Der Steppenwolf", "Autor": "Hermann Hesse", "Erscheinungsjahr": 1927, "Herausgeber": "Suhrkamp Verlag", "Seitenanzahl": 256, "Preis": 11.99, "AufLager": 8}, {"Titel": "Im Westen nichts Neues", "Autor": "Erich Maria Remarque", "Erscheinungsjahr": 1929, "Herausgeber": "Ullstein Verlag", "Seitenanzahl": 240, "Preis": 9.99, "AufLager": 12}, {"Titel": "Die Verwandlung", "Autor": "Franz Kafka", "Erscheinungsjahr": 1915, "Herausgeber": "Kurt Wolff Verlag", "Seitenanzahl": 64, "Preis": 7.99, "AufLager": 5}, {"Titel": "Der Zauberberg", "Autor": "Thomas Mann", "Erscheinungsjahr": 1924, "Herausgeber": "S. Fischer Verlag", "Seitenanzahl": 976, "Preis": 24.99, "AufLager": 3}, {"Titel": "Der Prozess", "Autor": "Franz Kafka", "Erscheinungsjahr": 1925, "Herausgeber": "Kurt Wolff Verlag", "Seitenanzahl": 256, "Preis": 11.99, "AufLager": 7}, {"Titel": "Der Vorleser", "Autor": "Bernhard Schlink", "Erscheinungsjahr": 1995, "Herausgeber": "Diogenes Verlag", "Seitenanzahl": 224, "Preis": 14.99, "AufLager": 18}]

In [60]:
import requests

buch = ["books","e_books","films"]

for i in buch:
    res = requests.get(f'http://127.0.0.1:8000/{i}')
    if i == "books":
        print("Book Bestand")
    elif i == "e_books":
        print("E_book bestand")
    else:
        print("film bestand")      
    print(res.text, "\n")

Book Bestand
[[4,"string","string",2000,"string",100,10,10]]

E_book bestand
[[1,"c","tt",5000,"string",0,0],[2,"string","string",0,"string",0,0],[3,"string","string",0,"string",0,0]]

film bestand
[]

In [83]:
book_json = [
    {
        "Titel": "Der kleine Prinz",
        "Autor": "Antoine de Saint-Exupéry",
        "Erscheinungsjahr": 1943,
        "Herausgeber": "Karl Rauch Verlag",
        "Seitenanzahl": 96,
        "Preis": 10.99,
        "AufLager": 20
    },
    {
        "Titel": "Das Parfum",
        "Autor": "Patrick Süskind",
        "Erscheinungsjahr": 1985,
        "Herausgeber": "Diogenes Verlag",
        "Seitenanzahl": 278,
        "Preis": 12.99,
        "AufLager": 15
    },
    {
        "Titel": "Faust",
        "Autor": "Johann Wolfgang von Goethe",
        "Erscheinungsjahr": 1808,
        "Herausgeber": "Cotta Verlag",
        "Seitenanzahl": 400,
        "Preis": 16.99,
        "AufLager": 10
    },
    {
        "Titel": "Die unendliche Geschichte",
        "Autor": "Michael Ende",
        "Erscheinungsjahr": 1979,
        "Herausgeber": "Thienemann Verlag",
        "Seitenanzahl": 432,
        "Preis": 13.99,
        "AufLager": 25
    },
    {
        "Titel": "Der Steppenwolf",
        "Autor": "Hermann Hesse",
        "Erscheinungsjahr": 1927,
        "Herausgeber": "Suhrkamp Verlag",
        "Seitenanzahl": 256,
        "Preis": 11.99,
        "AufLager": 8
    },
    {
        "Titel": "Im Westen nichts Neues",
        "Autor": "Erich Maria Remarque",
        "Erscheinungsjahr": 1929,
        "Herausgeber": "Ullstein Verlag",
        "Seitenanzahl": 240,
        "Preis": 9.99,
        "AufLager": 12
    },
    {
        "Titel": "Die Verwandlung",
        "Autor": "Franz Kafka",
        "Erscheinungsjahr": 1915,
        "Herausgeber": "Kurt Wolff Verlag",
        "Seitenanzahl": 64,
        "Preis": 7.99,
        "AufLager": 5
    },
    {
        "Titel": "Der Zauberberg",
        "Autor": "Thomas Mann",
        "Erscheinungsjahr": 1924,
        "Herausgeber": "S. Fischer Verlag",
        "Seitenanzahl": 976,
        "Preis": 24.99,
        "AufLager": 3
    },
    {
        "Titel": "Der Prozess",
        "Autor": "Franz Kafka",
        "Erscheinungsjahr": 1925,
        "Herausgeber": "Kurt Wolff Verlag",
        "Seitenanzahl": 256,
        "Preis": 11.99,
        "AufLager": 7
    }]

In [84]:
import requests

headers = {
    'Content-Type': 'application/json'
}

for i in range(len(book_json)):
    response = requests.post('http://localhost:8000/books', headers=headers, json=book_json[i])
    print(response.json())

{'message': 'Book/books added successfully'}
{'message': 'Book/books added successfully'}
{'message': 'Book/books added successfully'}
{'message': 'Book/books added successfully'}
{'message': 'Book/books added successfully'}
{'message': 'Book/books added successfully'}
{'message': 'Book/books added successfully'}
{'message': 'Book/books added successfully'}
{'message': 'Book/books added successfully'}